@import '../../styles/scss/conf';

.darkHeader,
.lightHeader {
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);


  .content {
    @include margin-page;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .toggleTheme {
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      svg {
        margin-right: 1rem;
      }
    }
  }

  @media #{$BREAKPOINT-MOBILE} {
    width: 100%;

    h1 {
      font-size: 1rem;
    }
  }
}

.lightHeader {
  background: var(--white);
}

.darkHeader {
  background: var(--dark-blue);
  color: var(--white);
}




